<div ng-controller="BookGridController as vm">
    <div class="row">


        <div class="columns small-8 small-centered">
            <div class="row">
                <ul class="small-block-grid-2 medium-block-grid-4">
                    <li class="min-size" ng-repeat="book in vm.books">
                        <a class="th" href="#/book/{{book.id}}"><img aria-hidden=true ng-src="{{book.imageSrc}}"></a>
                        <h5>{{book.title}}</h5>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="medium-6 columns medium-centered">
            <div class="wrapper">
                <label>Click</label>
                <a class="inside" ng-disabled="!vm.isPrev" ng-click="vm.isPrev && vm.prevPage()">&#9664;</a>
                <a class="inside" ng-disabled="!vm.isNext" ng-click="vm.isNext && vm.nextPage()">&#9654;</a>
            </div>
        </div>
    </div>

</div>



